:root{
    --bg-cloud: #f5f5da;
    --bg-sun: #fff;
    --bg-light-body: #d9dfe3;
    --bg-dark-body: #1d2234;
    --bg-light-checkbox-one: #bfd6bb;
    --bg-light-checkbox-two: #90d1c7;
    --bg-dark-checkbox-one: #73abb9;
    --bg-dark-checkbox-two: #335a63;
}
body{
    background-color: var(--bg-light-body);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.checkboxDesing{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to top,
    var(--bg-light-checkbox-one),
    var(--bg-light-checkbox-two)
    );
    border-radius: 50px;
    position: relative;
    box-shadow: 0 0 0 5px var(--bg-light-body),
    0 0 0 15px var(--bg-light-checkbox-one);
    transition: 0.5s;
}
.checkboxDesing input{
    display: none;
}
.checkboxDesing::before{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--bg-sun);
    content:'';
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 83px -5px 0px -25px var(--bg-cloud),
    98px -21px 0 -30px var(--bg-cloud),
    120px -7px 0 -27px var(--bg-cloud),
    109px 5px 0 -28px var(--bg-cloud);
    transition: 0.5s;
}
body:has(input[name="checkboxDesing"]:checked){
    background-color: var(--bg-dark-body);
}
.checkboxDesing:has(input:checked){
    box-shadow: 0 0 0 5px var(--bg-dark-body),
    0 0 0 15px var(--bg-dark-checkbox-one);
}
.checkboxDesing:has(input:checked)::before{
    left: calc(100% - 90px);
    box-shadow: -70px -3px 0 -42px var(--bg-cloud),
    -90px -23px 0 -30px var(--bg-cloud),
    -120px 8px 0 -40px var(--bg-cloud),
    -87px 21px 0 -41px var(--bg-cloud);
}